* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  text-decoration: none;
  list-style: none;
  font-style: normal;
}

img {
  width: 100%;
  height: auto;
}

.img__bg {
  -o-object-fit: cover;
     object-fit: cover;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: .4em .4em;
  border-radius: .4em;
}

.btn--sm {
  padding: .7em 1em;
}

.btn--pri {
  background-color: #86365e;
  color: #fff;
}

.btn--txt {
  text-decoration: underline;
}

h1 {
  text-align: center;
  margin: 1rem;
}

.results {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: #86365e solid 2px;
}

.card__img {
  min-height: 200px;
  max-height: 224px;
  overflow: hidden;
}

.card__img img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.card__img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__header .city {
  font-size: .8em;
  font-weight: 400;
}

.card__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: wrap-reverse;
          flex-flow: wrap-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.primary__title {
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  margin: 1rem;
  background-color: #6c2649;
  color: #fff;
}

.primary__txt {
  font-weight: 500;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

.primary__txt-txt {
  margin: 2em;
  text-align: center;
}

.primary__img {
  width: 50%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  margin: 2rem auto;
  width: 400px;
  height: 400px;
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: #f5f4f4;
}

form h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

button {
  display: inline-block;
  max-width: 150px;
  border: 1px solid transparent;
  padding: 1em 2em;
  border-radius: .4em;
  background-color: #86365e;
  color: #fff;
}

.btn-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  margin: 4rem;
}

.btn-form--registrarse {
  text-decoration: underline;
}

.form-login-input {
  margin: 1rem;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-link {
  font-size: .9rem;
  text-decoration: underline;
  color: #0606ac;
}

.login {
  background-image: url(../multimedia/formSP.jpg);
}

.logo-marca {
  max-width: 80px;
}

html,
html > * {
  font-family: "Roboto", sans-serif;
}

.span--block {
  display: block;
}

.card__header {
  font-size: 1.4rem;
  color: #1d1d1d;
  font-weight: 400;
  font-style: normal;
  padding: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.card__contact {
  font-size: 1rem;
  font-style: normal;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.card__footer {
  padding-bottom: 1rem;
}

body {
  height: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header,
footer,
main {
  padding: 1em 2.5%;
  background: #fcfcfc;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

header .menu__link {
  position: relative;
}

header .menu__link:not(:first-of-type):before {
  position: absolute;
  top: -.15em;
  left: -.75em;
  content: "|";
  color: #6c2649;
  font-size: 1.2rem;
  font-weight: 600;
}

header .menu__link--active {
  font-weight: 600;
  color: #86365e;
}

header .menu__link:hover {
  color: #86365e;
  text-decoration: underline;
  text-underline-offset: .2em;
}

header .btn {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .footer__panel:last-of-type {
  text-align: right;
}

footer .footer__heading {
  font-weight: 600;
  margin-bottom: .5em;
}

footer .footer__contact {
  color: #6c2649;
}

footer .redes--icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: .5em;
  font-size: 1.7rem;
  color: #6c2649;
}

footer .redes--icons a:hover {
  color: #1d1d1d;
}

.banner {
  border: 2px solid #6c2649;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  padding: 2em;
}

#inicio .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

#inicio .hero__panel {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#inicio .hero__panel img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

#inicio .hero__panel:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#inicio .hero__img {
  height: 40vw;
  display: block;
}

#inicio .hero__txt {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 4vw;
}

@media only screen and (min-width: 768px) {
  #inicio .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  #inicio .hero__img {
    height: 100%;
    max-height: calc(100vh - 164.3px);
    display: block;
  }
  #inicio .hero__txt {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    place-content: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4vw;
  }
}
/*# sourceMappingURL=style.css.map */