.gallery {}
.banner {
    border: 2px solid $color-acento--800;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em;

}
